:root {
  --bottom: 32vw;
}

#ball {
  width: 5vw;
  height: 5vw;
}

.bounce {
  animation: theBounce 1.5s infinite;
}

@keyframes theBounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(var(--bottom));
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

.squash {
  animation: theSquash 1.5s infinite;
}

@keyframes theSquash {
  0% {
    transform: scale(1, 1);
    animation-timing-function: ease-in;
  }

  60% {
    transform: scale(1, 0.6);
    transform-origin: bottom;
    animation-timing-function: ease-out;
  }

  63% {
    transform: scale(1, 0.4);
    transform-origin: bottom;
    animation-timing-function: ease-out;
  }

  64.5% {
    transform: scale(1, 0.8);
    animation-timing-function: ease-out;
  }

  64.6% {
    transform: scale(1, 1);
    animation-timing-function: ease-out;
  }
}
